* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}



.logo-pepper {
  width: 200px;
}

body {
  background-color: #1f1f1f;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 40px 4%;
  position: relative;
  transition: 1s;
}

header a:hover {
  color: #fff;
  transform: scale(1.15);
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 0 40px;
  font-size: 20px;
}

li a {
  color: #7b7a7a;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.7s;
}

button {
  cursor: pointer;
  background: rgb(205, 2, 21);
  background: linear-gradient(
    90deg,
    rgba(205, 2, 21, 1) 0%,
    rgba(145, 0, 31, 1) 100%
  );
  color: black;
  transition-duration: 0.7s;
}

.btn-contact button {
  padding: 10px 40px;
  border: none;
  border-radius: 28px;
  font-size: 25px;
  font-weight: 700;
  transition: 1s;
}

.btn-contact button a {
  text-decoration: none;
  color: black;
}

.btn-contact button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.2);
}

.container {
  display: flex;
  gap: 250px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 80px;
}

.top-site {
  padding: 40px 4%;
}
.top-site .right-container img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

h1 {
  color: #fff;
  font-size: 42px;
  line-height: 50px;
}

h2 {
  color: #72a637;
  font-size: 18px;
}

span {
  color: #d0272c;
}

.btn-contact2 button {
  padding: 10px 10px;
  border: none;
  border-radius: 25px;
  font-size: 23px;
  font-weight: 500;
  margin-top: 30px;
  margin-right: 20px;
  transition: 1s;
}
.btn-contact2 button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.15);
}

.links {
  display: flex;
  gap: 15px;
}

.links a {
  transition: 1s;
}

.links a:hover {
  transform: scale(1.2);
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 60px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 300px;
  gap: 25px;
}

h3 {
  color: #d0272c;
  font-weight: 700;
  font-size: 35px;
  background: rgb(114, 166, 55);
  background: linear-gradient(
    90deg,
    rgba(114, 166, 55, 1) 0%,
    rgba(208, 39, 44, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: left bottom;
}

p {
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
  line-height: 40px;
}

.myimg {
  width: 350px;
}

.container-hab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
  gap: 80px;
}

.cards {
  display: flex;
  gap: 40px;
}

h4 {
  color: #d0272c;
  font-weight: 700;
  font-size: 35px;
  background: rgb(114, 166, 55);
  background: linear-gradient(
    90deg,
    rgba(114, 166, 55, 1) 0%,
    rgba(208, 39, 44, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: left bottom;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(205, 2, 21, 1) 0%,
    rgba(145, 0, 31, 1) 100%
  );
  padding: 10px 30px;
  border-top-left-radius: 40px 40px;
  width: 120px;
  height: 130px;
  border-bottom: solid #72a637;
  cursor: pointer;
  transition: 0.6s;

  img {
    padding-bottom: 8px;
  }

  p {
    color: #ffffff;
    font-family: "Bebas Neue", serif;
  }
}

.box:hover {
  transform: scale(1.2);
}

h5 {
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d0272c;
  font-weight: 900;
}

.sec-projects {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #5f5e5e;
  position: relative;
}
.container-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 110px;
  margin-left: 30px;
  gap: 50px;
}

.project {
  width: 500px;
  height: 400px;
  background-size: cover;
  background-position: 43%;
  position: relative;
  transition: 8s;
  border-radius: 40px;
  transition: 1s;
}

.project:hover {
  background-position: 100% 80%;
  transform: scale(1.15);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  flex-direction: column;
  cursor: pointer;
}

.logo-footer img {
  width: 200px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 4%;
  align-items: center;
}

.line-f {
  padding: 40px 2%;
}

.borda {
  border-top: 2px solid #72a637;
  width: 90%;
  margin-left: 80px;
}

::-webkit-scrollbar {
  background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background-color: #72a637;
}

html {
  scroll-behavior: smooth;
}

.prop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.81);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.divAll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  font-weight: bold;
  border-radius: 20px;
  margin: 20px 0;
  transition: opacity 0.3s ease;
}

.exitButton {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px;
  transition: 2s;
  font-weight: bold;
}

.exitButton:hover {
  transform: scale(1.15);
}

.directionimg {
  display: flex;
}

.containerHidden {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.81);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.container-proj {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  gap: 20px;
  width: 1000px;
}

.description {
  font-size: 20px;
  margin: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsHidden {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
  transition: 100s;
  justify-content: flex-end;
}
.buttonsHidden button {
  padding: 8px 10px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 1s;
}

.buttonsHidden button:hover {
  transform: scale(1.2);
}
.imgHidden {
  width: 400px;
  height: 250px;
  border: solid 3px #72a637;
  margin-top: 40px;
  border-radius: 15px;
}

.title {
  color: #d0272c;
  font-size: 38px;
  font-weight: bold;
}

.hidden {
  display: none;
}
